.container{
    max-width: 50%;
    
}

.h3{
    text-align: center;
}
 
.container{
    font-family: sans-serif;
    background-color: #e5e5e5;
    background-image: radial-gradient(#c657d8 0.5px , transparent 0.5px);
    background-size: 20px 20px;
    background-position: 0 0 , 10px 10 px;
    display: flex;
    min-height: 100vh;
    max-width: 100%;

}
form{
    background-color: #fff;
    margin :auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5 em 3 em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
    text-align: center;

}




  
  