<div class="container">
  <form >
    <h3> Formulario de Registro</h3>
    <hr>
    <div class="mb-3">
        <label  for="InputName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="InputName" >
      </div>
      <div class="mb-3">
        <label for="InputApe"  class="form-label">Apellido</label>
        <input type="text" class="form-control" id="InputApe" >
       
      </div>
      <div class="mb-3">
        <label for="InputEdad" class="form-label">Edad</label>
        <input type="number" class="form-control" id="InputEdad" >
       
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" >
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button  
        type="submit" class="btn btn-primary"
        >Enviar</button>
  </form>
</div>
